<div class="row align-items-center justify-content-between g-3 mb-3">
  <div class="col-12 col-md-auto">
    <h2 class="mb-0">Editing prompting task</h2>
  </div>
</div>

<%= render "form", prompting_task: @prompting_task, locals: { back_path: dashboard_prompting_task_path(@prompting_task) } %>
