# Used as the base secret for all MessageVerifiers in Rails, including the one protecting cookies.
secret_key_base: <%= SecureRandom.hex(64) %>

# Used as the base secret for ActiveStorage MessageVerifiers in Rails.
storage_key_base: <%= SecureRandom.hex(64) %>

# Used as the base secret for Devise to generate random tokens.
devise_key_base: <%= SecureRandom.hex(64) %>
