<div class="row align-items-center justify-content-between g-3 mb-3">
  <div class="col-12 col-md-auto">
    <h2 class="mb-0">Editing prompting task</h2>
  </div>
</div>

<%= render "form", prompt_task: @prompt_task, locals: { back_path: dashboard_prompt_task_path(@prompt_task) } %>
