<main class="my-auto p-5" id="content">
  <div class="text-center py-5">
    <h1 class="display-1"><%= t(".code") %></h1>
    <h2><%= t(".content") %></h2>
    <p>
      <%= render "back" %>
    </p>
  </div>
</main>
