<%= form_with(url: import_dashboard_glossary_vocabularies_path(glossary), local: true, class: "row row-cols-lg-auto g-3 align-items-center mb-3") do %>
  <div class="col-12">
    <%= label_tag :comma_separated_text %>
  </div>
  <div class="col-12">
    <%= text_field_tag :comma_separated_text, "", required: "required", class: "form-control", class_for_error: "is-invalid" %>
  </div>

  <div class="col-12">
    <%= submit_tag "Add", class: "btn btn-primary" %>
  </div>
<% end %>
