<div class="row align-items-center justify-content-between g-3 mb-3">
  <div class="col-12 col-md-auto">
    <h2 class="mb-0">New prompting plan</h2>
  </div>
</div>

<%= render "form", prompting_plan: @prompting_plan %>
