<div class="row align-items-center justify-content-between g-3 mb-3">
  <div class="col-12 col-md-auto">
    <h2 class="mb-0">Glossaries</h2>
  </div>
</div>

<%= render "form", glossary: @glossary %>


